/**
 * Simple Timeline Styling
 */

@import "foundation.css";



/*Styling fonts*/

@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/gk5FxslNkTTHtojXrkp-xE6du99w8ONfQrOf4kprgAx_v5H-gcmDugi2HQeB0BPm.woff2) format('woff2');
}


/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/fhNmDCnjccoUYyU4ZASaLVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
}


/**
* Just container styling
*/

.flash {
	overflow:auto;
	border-radius:0;
	border:none;
	box-shadow:none;
	width:900px;
	margin:auto;
	margin-top:20px;
}

.dbuttons {
	margin-top:150px;
}


.eventContent {
	font-size:12px;
}

.hidden {
	display:none;
}

div.tlcontainer {
	margin-top:2em;
	overflow:auto;
}

#timelineWrap {
	width:850px;
	margin: auto;
	margin-top:20px;
	margin-bottom:20px;
}

.timelineLine {
	background: none repeat scroll 0 0 #444;
	height:1px;
	width:100%
	position:relative;
}

.blob {
	background: none repeat scroll 0 0 #fefefe;
	border: 1px solid #444;
	border-radius:8px;
	cursor:pointer;
	height:6px;
	margin-left:0px;
	margin-top:-2.7px;
	position:absolute;
	width:6px;
}

#event-2 {
	margin-left:50.2px;
	position:absolute;
	top:0;

}

div.hoverInfo {
	background: none repeat scroll 0 0 #222;
	color:#efefef;
	margin-left:0;
	font-family: 'Open Sans Condensed', sans-serif;
	overflow:visible !important;
	padding:8px;
	padding-top:4px;
	padding-bottom:5px;
	cursor:pointer;
	margin-top:20px;
	border-radius:4px;
	font-size:12px;

}

.hoverInfo span {
	font-size:10px;
	color: #bbb;

}

button.yselect {
	border: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:36px;
	cursor:pointer;
	background:none;
}

button.dselect {
	border: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:36px;
	cursor:pointer;
	background:none;
	margin:auto;
}

.currentYear {
	display:inline;
	margin-left:5px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:36px;
}

.currentDate {
	display:inline;
	margin-left:5px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:36px;
}

.months {
	color: #222;
	margin-left:0;
	position:absolute;
	margin-top: -30px;
}

.monthLine {
	background: none repeat scroll 0 0 #bbb;
	content: "";
	display:block;
	height:3px;
	maring-left:50px;
	position:absolute;
	top:27px;
	width:1px;
}

.firstlast {
	height:6px;
	top:27.5px;
	background: none repeat scroll 0 0 #444;
}



.eventTitle {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:36px;
	margin-bottom:0px;
}

.eventDate {
	font-size:16px;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-bottom:6px;
	margin-top:-7px;
	color:#bbb;
}


/*
.imgdiv {
	margin-right:25px;
	margin-top:11px;
}
*/

.imgdiv img {
	width:100%;
	height:100%;
}


#contentWrap {
	width:850px;
	margin:auto;
	overflow:auto;
}


.dateRight {
	float:right;
}
