<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

      <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" data-th-href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" />

   <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css" data-th-href="@{/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css}" rel="stylesheet" />

    <link href="../static/css/main.css" data-th-href="@{/css/main.css}" rel="stylesheet" media="screen" />

    <link href="../static/css/blog.css" data-th-href="@{/css/blog.css}" rel="stylesheet" media="screen" />

   <link href="../static/css/jquery.lavalamp.css" data-th-href="@{/css/jquery.lavalamp.css}" rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            data-th-src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>


    <script src="../static/js/lib/jquery.lavalamp.min.js" data-th-src="@{/js/lib/jquery.lavalamp.min.js}"></script>


        <title>Blogs</title>
    </head>


    <body>
          <div class="container">
            <div class="row">
        <header class="text-center">
         <img class="img-fluid" src="../static/image/logo%20-large.png" data-th-src="@{/image/logo%20-large.png}" alt="logo"/>
        </header>
            </div>
      <nav class="navbar text-center">
         <ul id="navlist">
            <li><a href="/">Home</a></li>
            <li><a href="">Photos</a></li>
            <li><a href="">Videos</a></li>
            <li class="active"><a data-th-href="@{/blogs}">Blog</a></li>
            <li><a data-th-href="@{/locations}">Ideas</a></li>
            <li><a href="">Friends</a></li>
            <li><a href="">Contact</a></li>
        </ul>
  </nav>
        </div>
        <div class="container">
            <div class="row">

                <nav class="breadcrumb">
                  <a class="breadcrumb-item" data-th-href="@{/home}">Home</a>
                  <span class="breadcrumb-item active">Blog</span>
                </nav>

                <div class="col-xs-2">
                      <h2>add sth later</h2>
                </div>

        
                <div class="col-xs-10" id="blogsidebar">
                <li data-th-each="blog :${blogs}">
                    <h2 data-th-text="${blog.title}"></h2>
                <p class="lead" data-th-text="${blog.author}"> By</p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on $Date</p>
                <hr/>
                <img class="img-responsive" src="../static/image/Hueston_Woods_Dog_Camping.jpg" width="500" alt="" />
                <hr/>
                <p data-th-text="${blog.content}"></p>
                <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr/>
                </li>
                </div>
            
            </div>  
                
            
            

                
        
          <hr />
             <div class="row">
                <div class="col-xs-12">
                    Add a new post:<br />
                    <form data-th-action="@{/blogs/add}" name="addBlogForm" method="post">
                        <label for="title">Title:</label>
                         <input type="text" name="title" /><br />
                        <label for="author">Author:</label>
                        <input type="text" name="author" /> <br />
                        <label for="content">Content:</label>
                       <textarea name="content"></textarea> <br />
                        <!--
                        Image to upload: <input type="file" name="location" /> <br />
                        -->
                        <input type="submit" value="New Post"/><br />
                    </form>

                    <hr />
                    <form data-th-action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out"/>
                    </form>
                </div>
            </div>
      </div>
               
    </body>
</html>
