<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome page</title>
<link rel="stylesheet" href="../static/css/4.0.0-alpha.6/css/bootstrap.min.css" data-th-href="@{/css/4.0.0-alpha.6/css/bootstrap.min.css}" />
        
   <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" data-th-href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" />

   <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css" data-th-href="@{/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css}" rel="stylesheet" />

    <link href="../static/css/main.css" data-th-href="@{css/main.css}" rel="stylesheet" media="screen" />
  
    
       

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            data-th-src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="../static/js/lib/bootstrap.js" data-th-src="@{/js/lib/bootstrap.js}"></script>
<script src="../static/js/lib/jquery.validate.min.js" data-th-src="@{/js/lib/jquery.validate.min.js}"></script>
    <script src="../static/js/lib/additional-methods.min.js" data-th-src="@{/js/lib/additional-methods.min.js}"></script>

    </head>


    <body style="background-color: aliceblue; margin: 20px 20px;">
        <div data-th-replace="header :: html"></div>
            <div class="container">
              <div class="row">
                  <div class="col-xs-12">
                  <h2>Contact Us</h2>
                      <hr />
                      <p>Address: 401 Amberson Ave, Pittsburgh, PA 15232</p>
                      <p>Tel: xxx-xxx-xxx</p>
                      
                  </div>
                  <hr/>
                  
        

                  
                </div>
                
                  <footer class="footer" style="height: 30px; position: absolute;bottom: 0; width: 100%;">
                    
          <p class="text-muted" style="text-align: center">Copyright(c) 2017 | YukiANDYuto | All Rights Reserved</p>   
        </footer>
            </div>
        
      

    </body>
</html>
