<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Edit DVD</title>
    </head>
    <body>
        Add DVD<br />
        <form data-th-action="@{/dvds/edit/{id}(id=${dvd.id})}" data-th-object="${dvd}" data-th-method="put" role="form">
            Title: <input type="text" name="title" data-th-value="${dvd.title}" /><br />
            Workout Type:<br />
            <input type="radio" name="workoutType" value="Unknown" /> Unknown<br />
            <input type="radio" name="workoutType" value="Strength" /> Strength<br />
            <input type="radio" name="workoutType" value="Cardio" /> Cardio<br />
            <input type="radio" name="workoutType" value="CrossTrain" /> CrossTrain<br />
            <input type="submit" value="Update Workout"/><br />
            workoutType: <span data-th-value="${dvd.getWorkoutType()}" />
        </form>
    </body>
</html>
