<!DOCTYPE html>
<html>
    <head>
        <title>User Home</title>
    </head>
    <body>
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s DVD's!</h1>

        <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Workout Type</th>
                </tr>                
                <tr data-th-each="dvd : ${dvds}">
                    <td data-th-text="${dvd.id}"></td>
                    <td data-th-text="${dvd.title}"></td>
                    <td data-th-text="${dvd.workoutType}"></td>
                    <td><a data-th-href="@{/dvds/edit/{id}(id=${dvd.id})}">edit</a></td>
                </tr>
            </table>
        </div>
        
        <hr />
        Add DVD<br />
        <form data-th-action="@{/dvds/add}" name="addDvdForm" method="post">
            Title: <input type="text" name="title" /><br />
            Workout Type:<br />
            <input type="radio" name="workoutType" value="Unknown" /> Unknown<br />
            <input type="radio" name="workoutType" value="Strength" /> Strength<br />
            <input type="radio" name="workoutType" value="Cardio" /> Cardio<br />
            <input type="radio" name="workoutType" value="CrossTrain" /> CrossTrain<br />
            <input type="submit" value="Add Workout"/>
        </form>
        
        <hr />
            <a data-th-href="@{/files}">Upload a File</a>
        <hr />
        
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>