<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     
      <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" data-th-href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" />

   <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css" data-th-href="@{/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css}" rel="stylesheet" />
        
    <link href="../static/css/main.css" data-th-href="@{css/main.css}" rel="stylesheet" media="screen" />
    
   <link href="../static/css/jquery.lavalamp.css" data-th-href="@{css/jquery.lavalamp.css}" rel="stylesheet" media="screen" />
    
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            data-th-src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
   
        
    <script src="../static/js/lib/jquery.lavalamp.min.js" data-th-src="@{js/lib/jquery.lavalamp.min.js}"></script>
        
        
        <title>Pet-friendly Public Locations</title>
    </head>
    
    
    <body>
        <div class="container">
            <div class="row">    
                <h1> Pet-friendly Public Location Lists </h1>

                <div class="col-xs-12">
                      <ul class="media-list">  
                          <li class="media" data-th-each="location : ${locations}">
                          <div class="media-left">
                           <img class="media-object img-thumbnail" src="/image/Hueston_Woods_Dog_Camping.jpg" data-th-src="@{/image/Hueston_Woods_Dog_Camping.jpg}" alt="I will add image variable later" width="200px"/>
                          </div>      
                          <div class="media-body">
                              <h3 class="media-heading" data-th-text="${location.locationName}"></h3>
                                  <small data-th-text="${location.locationType}"></small>
                            <p data-th-text="${location.address}"></p>
                            <p data-th-text="${location.description}"></p>  
                          </div>
                          </li>      
                      </ul>
                </div>        
            </div>

        <hr />
            <div class="row">   
                <div class="col-xs-12">
                    Add Pet-friendly Public Locations:<br />
                    <form data-th-action="@{/locations/add}" name="addLocationForm" method="post" enctype="multipart/form-data">
                        Location Name: <input type="text" name="locationName" /><br />
                        Location Type:<br />
                        <input type="radio" name="locationType" value="Unknown" checked="checked" /> Unknown<br />
                        <input type="radio" name="locationType" value="PublicPark" /> Public Park<br />
                        <input type="radio" name="locationType" value="CoffeeShop" /> Coffee Shop<br />
                        <input type="radio" name="locationType" value="Hotel" /> Hotel<br />
                        <input type="radio" name="locationType" value="Restaurant" /> Restaurant<br />
                        <input type="radio" name="locationType" value="NaturalAttractions" /> Natural Attractions<br />
                        Provide Address: <input type="text" name="address" /> <br />
                        Provide Description: <textarea name="description"></textarea> <br />
                        Image to upload: <input type="file" name="location" /> <br />
                        <input type="submit" value="Add Location"/><br />
                    </form>

                    <hr />
                    <form data-th-action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out"/>
                    </form>
                </div> 
            </div>
    </div>
    </body>
</html>

