<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     
      <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" data-th-href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" />

   <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css" data-th-href="@{/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css}" rel="stylesheet" />
        
    <link href="../static/css/main.css" data-th-href="@{/css/main.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/blog.css" data-th-href="@{/css/blog.css}" rel="stylesheet" media="screen" />
   
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            data-th-src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
   
        
    
        
        
        <title>Pet-friendly Public Locations</title>
    </head>
    
    
    <body>
        <div data-th-replace="header :: html"></div>
        <div class="container">
            <div class="row">  
                 <nav class="breadcrumb">
                  <a class="breadcrumb-item" data-th-href="@{/home}">Home</a>
                  <span class="breadcrumb-item active">Ideas</span>
                </nav>
                <br/>
                <h1> Pet-friendly Public Location Lists </h1>

                <div class="col-xs-12">
                      <ul class="media-list">  
                          <li class="media" data-th-each="location : ${locations}">
                          <div class="media-left">
                           <img class="media-object img-thumbnail" data-th-src="${location.imageName}" alt="${location.locationName}" width="200px"/>
                          </div>      
                          <div class="media-body">
                              <h3 class="media-heading" data-th-text="${location.locationName}" style="display:inline-block"></h3> <small data-th-text="${location.id}"></small>
                                  <small data-th-text="${location.locationType}"></small>
                            <p data-th-text="${location.address}"></p>
                            <p data-th-text="${location.description}"></p>  
                          </div>
                          </li>      
                      </ul>
                </div>  
                
            </div>

        <hr />
            <div class="row">   
                <div class="col-xs-12">
                    Add Pet-friendly Public Locations:<br />
                    <form data-th-action="@{/locations/add}" name="addLocationForm" method="post">
                        Location Name: <input type="text" name="locationName" /><br />
                        Location Type:<br />
                        <input type="radio" name="locationType" value="Unknown" checked="checked" /> Unknown<br />
                        <input type="radio" name="locationType" value="PublicPark" /> Public Park<br />
                        <input type="radio" name="locationType" value="CoffeeShop" /> Coffee Shop<br />
                        <input type="radio" name="locationType" value="Hotel" /> Hotel<br />
                        <input type="radio" name="locationType" value="Restaurant" /> Restaurant<br />
                        <input type="radio" name="locationType" value="NaturalAttractions" /> Natural Attractions<br />
                        Provide Address: <input type="text" name="address" /> <br />
                        Provide Description: <textarea name="description"></textarea> <br />
                        Image Url: <input type="url" name="imageName" placeholder="http://"/> <br />
                        <input type="submit" value="Add Location"/><br />
                    </form>
                     <hr />
                    
                      <h2>Delete a location:</h2>
                      <form data-th-action="@{/locations/delete}" name="deleteLocationForm" method="delete">
                         id for delete: <input type="text" name="id" /><br /> 
                       <input type="submit" value="Delete"/>
                      </form>
                    
                    <hr />
                   
                        <a data-th-href="@{/files}">Upload a File</a>
                                                  
                
                    
                    <hr />

                    <form data-th-action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out"/>
                    </form>
                    <hr />
                    <br/>
                </div> 
            </div>
            
          <footer class="footer" style="height: 30px; position: absolute;bottom: 0; width: 100%;">
          <p class="text-muted" style="text-align: center">Copyright(c) 2017 | YukiANDYuto | All Rights Reserved</p>   
        </footer>  
    </div>
   
    </body>
   
</html>

