<!doctype html>
<html lang='en'>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Photos</title>
    
   
     <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" />
     <link href="//fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" />

<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" data-th-href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" />

<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css" data-th-href="@{/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css}" rel="stylesheet" />
    
    

<link href="../static/css/main.css" data-th-href="@{/css/main.css}" rel="stylesheet" media="screen" />
<link href="../static/css/photo.css" data-th-href="@{/css/photo.css}" rel="stylesheet" media="screen" />


    
</head>

<body>
<div data-th-replace="header :: html"></div>

    <div class="container">
        <nav class="breadcrumb">
                  <a class="breadcrumb-item" data-th-href="@{/home}">Home</a>
                  <span class="breadcrumb-item active">Photos</span>
        </nav>
    </div>
<h1 style="margin:10px auto 30px auto; text-align:center">Yuki &amp; Yuto's Growth Timeline</h1>
    
<div class='flash'>
                
              <button class='yselect' id='yprev'>&lt;</button>
              <p class='currentYear'>0</p>
              <button class='yselect' id='ynext'>></button>
              <div class='dateRight'>
                <p class='currentDate'>0</p>
              </div>
              <div id='timelineWrap'>
                <div class='months'>
                  <div class='monthLine firstlast' style="left: 0px"></div>
                  <div class='monthLine' style="left: 70.833px"></div>
                  <div class='monthLine' style="left: 140.666px"></div>
                  <div class='monthLine' style="left: 210.999px"></div>
                  <div class='monthLine' style="left: 281.332px"></div>
                  <div class='monthLine' style="left: 351.665px"></div>
                  <div class='monthLine' style="left: 421.998px"></div>
                  <div class='monthLine' style="left: 492.331px"></div>
                  <div class='monthLine' style="left: 562.664px"></div>
                  <div class='monthLine' style="left: 632.997px"></div>
                  <div class='monthLine' style="left: 703.33px"></div>
                  <div class='monthLine' style="left: 773.663px"></div>
                  <div class='monthLine firstlast' style="left: 849px"></div>
                </div>
              </div>
                
              <div id="contentWrap">  
                    <div class="row">  
                        <div class="col-xs-1">
                          <div class='dbuttons'>
                            <button class='dselect' id='dprev'>&lt;</button>
                          </div>
                        </div>
                        <div class="col-xs-10 row tlcontainer" data-th-each="photo :${photos}" data-th-attr="data-date=${photo.eventDate}">   
                          
                                <div class="col-xs-4">
                                 <img src="../static/image/Hueston_Woods_Dog_Camping.jpg" data-th-src="@{/image/Hueston_Woods_Dog_Camping.jpg}" class="image" alt="" width="200" />
                                </div>
                                <div class="col-xs-8">
                                  <p class="eventTitle" data-th-text="${photo.eventTitle}"></p><br/>
                                  <h5 class="eventDate" data-th-text="${photo.eventDate}"></h5>
                                  <p class="eventContent" data-th-text="${photo.eventContent}"></p>
                                </div>
                          
                        </div>
                        <div class="col-xs-1">
                          <div class='dbuttons'>
                            <button class ='dselect' id='dnext'>></button>
                          </div>
                        </div>
                   </div>              
              </div>
      
</div>

      
      
  
                  
    <hr />
      <footer class="footer" style="height: 30px; position: absolute;bottom: 0; width: 100%;">
          <p class="text-muted" style="text-align: center">Copyright(c) 2017 | YukiANDYuto | All Rights Reserved</p>   
        </footer>
    
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            data-th-src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script src="../static/js/lib/jquery-ui.min.js" data-th-src="@{/js/lib/jquery-ui.min.js}"></script> 
<script src="../static/js/lib/simple-timeline.jquery.js" data-th-src="@{/js/lib/simple-timeline.jquery.js}"></script> 
<script>
 
    
  $('div.tlcontainer').simpleTimeline();
    
  

  
</script>



</body>
</html>
