<!DOCTYPE html>
<html>
    <head>
        <title>File Upload</title>
    </head>
    <body>

        <div data-th-if="${message}">
            <h2 data-th-text="${message}"/>
        </div>

        <div>
            <form data-th-action="@{/files}" name="uploadFileForm" method="POST" enctype="multipart/form-data" >                
<!--            <form data-th-action="@{/files(${_csrf.parameterName}=${_csrf.token})}" name="uploadFileForm" method="POST" enctype="multipart/form-data" >                                -->
                image to upload:<input type="file" name="file" /><br />
                <input type="submit" value="Upload" />
            </form>
        </div>

        <div>
            <ul>
                <li data-th-each="file : ${files}">
                    <img data-th-src="${file}" />
                </li>
                
            </ul>
        </div>
        
        <a data-th-href="@{/friends}">Go back to friends list</a><br />
        <a data-th-href="@{/locations}">Go back to locations</a><br />
        <a data-th-href="@{/blogs}">Go back to blog posts</a><br />
    </body>
</html>